.container#datasets
  .row
    .col-md-12
      h2
        i(class="fas fa-database")
        |  RDF Datasets available
      p.
        Query these RDF datasets using the <a href="https://github.com/sage-org/sage-jena/releases/tag/1.0-SNAPSHOT">Java</a> or <a href="https://github.com/sage-org/sage-client">Javascript</a> client
      for dataset in datasets
        #table-responsive
          caption
            h5
              strong= dataset['url']
          table(class="table")
            thead
              tr
                th.
                  RDF Graph
                th.
                  Description
                th.
                  RDF triples
                th.
                  Time quantum
                th.
                  VoID description
                th.
                  More details
            tbody
              for graph in dataset['graphs']
                tr
                  td
                    a(href=`/see/${graph[rdf.DCTERMS('title')][0]['@value']}`, target='_none')= graph[rdf.DCTERMS('title')][0]['@value']
                  td= graph[rdf.DCTERMS('description')][0]['@value']
                  td= formatNumber(graph[rdf.VOID('triples')][0]['@value'])
                  td= graph[rdf.SAGE('quota')][0]['@value']
                  td
                    a(href=`${dataset['url']}/void/${graph[rdf.DCTERMS('title')][0]['@value']}`, target='_none')
                      i(class="fas fa-external-link-alt")
                      |  Open
                  td
                    a(href=`/see/${graph[rdf.DCTERMS('title')][0]['@value']}`, target='_none')
                      i(class="fas fa-external-link-alt")
                      |  Open
