extends index

block content
  .container
    .row
      .col-md-12
        h1= graph[rdf.DCTERMS('title')][0]['@value'] + ' Graph'
        hr

        h2
          i(class="fas fa-comments")
          |  Description
        p= graph[rdf.DCTERMS('description')][0]['@value']

        h2
          i(class="fas fa-info-circle")
          |  Infos
        .table-responsive
          table(class="table")
            thead
              tr
                th RDF triples
                th Subjects
                th Predicates
                th Objects
                th Time quota
                th Max results per request
            tbody
              tr
                td= formatNumber(graph[rdf.VOID('triples')][0]['@value']) + ' triples'
                td= formatNumber(graph[rdf.VOID('distinctSubjects')][0]['@value'])
                td= formatNumber(graph[rdf.VOID('properties')][0]['@value'])
                td= formatNumber(graph[rdf.VOID('distinctObjects')][0]['@value'])
                td= graph[rdf.SAGE('quota')][0]['@value'] + 'ms'
                if graph[rdf.HYDRA('itemsPerPage')][0]['@value'] === 'inf'
                  td No limit
                else
                  td= graph[rdf.HYDRA('itemsPerPage')][0]['@value'] + ' bindings'

        h2
          i(class="fas fa-boxes")
          |  VoID description
        p
          | Access the <a href="https://www.w3.org/TR/void/">VoID description</a> of the RDF graph at 
          a(href=voidURL, target="_none")= voidURL
        p
          button(class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#showVoidNT" aria-expanded="false" aria-controls="showVoidNT")
            i(class="fas fa-eye")
            |  Show VoID description

        div.collapse#showVoidNT
          .card.card-body
            pre
              code#void-xml

        h2
          i.fab.fa-hubspot
          |  Query the RDF Graph
        p
          strong Graph URI: 
          a(href=graphURL) #{graphURL}
        // simple queries
        h4 Basic SPARQL queries
        p
          | The SaGe server has a native support for evaluating 
          em a subset of the SPARQL syntax
          | . It supports SPARQL queries with the following features:
        ul
          li
            a(href='https://www.w3.org/TR/sparql11-query/#WritingSimpleQueries') Triple patterns
          li
            a(href='https://www.w3.org/TR/sparql11-query/#BasicGraphPatterns') Basic Graph patterns
          li
            a(href='https://www.w3.org/TR/sparql11-query/#alternatives') Unions
          li
            a(href='https://www.w3.org/TR/sparql11-query/#expressions') Filters
            | , with 
            em simple expressions only
            |  (=, !=, <, >=, +, -, etc)
          li
            a(href='https://www.w3.org/TR/sparql11-query/#queryDataset') GRAPH clauses
        form#queryForm(action=queryURL, method='GET')
          input#defaultGraphUri(hidden='true', name='default-graph-uri', value=graphURL)
          .form-group
            label(for='sparqlQueryTextArea')
              strong Type your SPARQL query
            textarea#sparqlQueryTextArea.form-control(name='query')
          button.btn.btn-outline-success(type='submit')
            i.fas.fa-play
            |  Execute query
        hr
        // complex queries
        h4 Complete SPARQL 1.1 queries
        p
          | To execute 
          em complete SPARQL queries
          |  using a SaGe server, you have two options:
        ul
          li
            | Take a look at 
            a(href="/#software") existing SaGe Smart Clients
            |  to evaluate SPARQL queries on your computer.
          li
            | Use the online playground 
            strong below
        #sage-widget(urls=serverURL, defaultServer=graphURL, defaultQuery='SELECT * WHERE { ?s ?p ?o }', defaultQName='')

        if exampleQueries.length > 0
          hr
          include includes/examples.pug

block extrajs
  script(src="/yasgui-yasqe/dist/yasqe.bundled.min.js", type="text/javascript", charset="utf-8")
  script(type="text/javascript").
    // delcare function to focus the smart client
    function scrollToQueryBox() {
      document.getElementById('sage-widget').scrollIntoView()
    }
    // init YASQL ezditor for basic queries form
    var yasqe = YASQE.fromTextArea(document.getElementById("sparqlQueryTextArea"), {
      createShareLink: null
    })
    yasqe.setValue("SELECT * WHERE { ?s ?p ?o }")
    // fetch VoID in NT
    const headers = new Headers()
    headers.append('accept', 'text/turtle')
    const req = new Request('#{voidURL}', { headers })
    fetch(req)
      .then(res => res.text())
      .then(voID => {
        document.getElementById('void-xml').textContent = voID
      })
